
/* Encabezado: Parte superior del 15% */

.App{
  height: 100vh;
  display:flex;
  flex-direction: column;
  margin:0; 
}

.App-header {
  flex: 0 0 10%; /* No se puede crecer ni encoger y ocupa exactamente el 15% */
  margin-bottom: 4px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
  font-size: calc(10px + 2vmin); /* Calcula el tamaño de la letra en función del tamaño de la pantalla */
  color: white;
}

.main{
  flex: 0 0 90%; /* No se puede crecer ni encoger y ocupa exactamente el 75% */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pie de página: Parte inferior del 10% */
.footer {
  flex: 0 0 5%; /* No se puede crecer ni encoger y ocupa exactamente el 10% */
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
