/* Contenedor del carrusel */
.swiper-container {
    padding-top: 10vh; /* Espacio superior */
    width: 100%; /* Ocupa todo el ancho */
    height: 85vh; /* Ocupa todo el alto de la ventana */
  }
  
  /* Estiliza las imágenes */
  .swiper-image {
    width: 100%; /* Ajusta al ancho del contenedor */
    height: 100%; /* Ajusta al alto del contenedor */
    object-fit: cover; /* Escala las imágenes sin deformarlas */
  }
  

/*.carrusel {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .carrusel-images {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Movimiento suave 
  }
  
  .carrusel-images div {
    flex-shrink: 0;
    width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor 
  }
  */