/* Contenedor del carrusel */
.swiper-container {
    flex: 1;
    /*width: 100%; /* Ocupa todo el ancho del carrusel */
    /*height: 100%; /* Ajusta su altura a la restricción de la segunda fila */
    /*display: block; /* Asegura que el carrusel respete las dimensiones del contenedor */
    background-color: rgb(253, 255, 255);
 }
  
  /* Estiliza las imágenes */
  .swiper-image {
    width: 100%;
    height: 90vh; 
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  }
  
